/**** Importation de la police Open Sans ****/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/**** Reset ****/

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    outline: none;
    border: none;
}

/**** body ****/

body {
    width: 100%;
    min-height: 100vh;
    font-family: "Open Sans", sans-serif;
    background: #b7bdc4;
    background: linear-gradient(90deg, #b7bdc4 0%, #308282 50%, #1c5c91 100%);
}

/**** cards grid  ****/

.cards__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    padding: 0 20px;
    max-width: 1300px;
    margin: 100px auto;
}

/**** card ****/

.card {
    background-color: #f1f1f1;
    border-radius: 8px;
}

.card:hover {
    box-shadow: 0 4px 10px 3px rgba(0, 0, 0, 0.69);
}

.top__img {
    display: block;
    height: 200px;
    width: 100%;
    background-color: #4c4c4c;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.top__img.skeleton__anim {
    animation: skeletonLoading 1s ease-in-out infinite alternate;
}

/**** Animation skeletonLoading ****/

@keyframes skeletonLoading {
    to {
        opacity: 0.6;
    }
}

.content {
    padding: 15px;
}

.skeleton__title,
.skeleton__text,
.skeleton__text__btn {
    background-color: #4c4c4c;
    animation: skeletonLoading 1s ease-in-out infinite alternate;
    width: 60%;
}

.skeleton__title {
    height: 20px;
}

.skeleton__text {
    margin-top: 10px;
    height: 15px;
}

.skeleton__text__btn {
    margin-top: 10px;
    border-radius: 6px;
    height: 25px;
    padding: 6px;
    width: 22%;
}

.skeleton__text:first-of-type {
    width: 90%;
}

.card__title {
    font-size: 18px;
    margin-bottom: 5px;
}

.card__text {
    font-size: 14px;
    margin-bottom: 10px;
}

.card__text__btn {
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    border: 1px solid #4c4c4c;
    background-color: transparent;
    border-radius: 6px;
    padding: 6px;
    cursor: pointer;
}